# Maven
target/
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Env
*.log
*.tmp

# Node
node_modules/
node/
webapp/node_modules/
webapp/node/

# 设计素材
方案/
